<%_
  var rootPath = data.rootPath;
  var pageData = data.pages.home;
_%>
<%- include("../../_components/_head", { rootPath, pageData }) _%>
<%- include("../../_components/_header", { pageData }) _%>
  <main class="l-main">
    <!--メインビジュアル-->
    <section class="p-sub-page-visual">
      <h1 class="p-sub-page-visual__title--employee">
        <p class="p-sub-page-visual__title__employee-copy">
          ダミーコピーダミー<br>
          ダミーコピーダミーコピー</p>
        <p class="p-sub-page-visual__title__ja">加藤 花子　総合職　2022年入社</p>
      </h1>
      <div class="p-sub-page-visual__image-content">
        <img src="/assets/img/emplyee_card-item_img03.jpg" alt="加藤 花子">
      </div>
    </section>
    <!--丸あしらい-->
    <%- include("../../_components/_circle", { pageData }) _%>
    <!--パンくずリスト-->
    <nav class="p-breadcrumbs">
      <div class="c-inner">
        <ol class="p-breadcrumbs__list">
          <li class="p-breadcrumbs__item">
            <a href="/">ホーム</a>
          </li>
          <li class="p-breadcrumbs__item">
            <a href="/employee/">社員紹介</a>
          </li>
          <li class="p-breadcrumbs__item">
            <a href="/business/employee03">加藤 花子</a>
          </li>
        </ol>
      </div>
    </nav>

    <!--メインコンテンツ-->
    <section class="">
      <div class="c-inner">
        <section class="p-page-department">
          <div class="p-page-department__block">
            <div class="p-page-department__block__text-content">
              <h2 class="c-page-heading--small c-page-heading__line">
                ダミーテキストダミーテキストダミーテキストダミーテキスト
              </h2>
              <div class="c-text-block c-text-content">
                <p>
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                </p>
                <p>
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                </p>
                <p>
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                </p>
                <p>
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                </p>
              </div>
            </div>
            <div class="p-page-department__block__image">
              <img src="/assets/img/employee01.jpg" alt="">
            </div>
          </div>
          <div class="p-page-department__block c-section">
            <div class="p-page-department__block__text-content--right">
              <h2 class="c-page-heading--small c-page-heading__line">
                ダミーテキストダミーテキストダミーテキストダミーテキスト
              </h2>
              <div class="c-text-block c-text-content">
                <p>
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                </p>
                <p>
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                </p>
                <p>
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                </p>
                <p>
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                </p>
              </div>
            </div>
            <div class="p-page-department__block__image--right">
              <img src="/assets/img/employee02.jpg" alt="">
            </div>
          </div>
        </section>

        <!--社員紹介-->
        <section class="p-employee--bottom c-section">
          <h2 class="c-page-heading--center">社員紹介</h2>
          <ul class="p-employee__card-items--flat">
            <li class="p-employee__card-item">
              <a href="/employee/employee01/">
                <div class="p-employee__card-item__image">
                  <img src="/assets/img/emplyee_card-item_img01.jpg" alt="">
                </div>
                <span class="p-employee__card-item__position--01">総合職</span>
                <div class="p-employee__card-item__body">
                  <p class="p-employee__card-item__body__year">2022年入社</p>
                  <div class="p-employee__card-item__body__name">
                    <p class="p-employee__card-item__body__name__ja">田中 花子</p>
                    <p class="p-employee__card-item__body__name__en">HANAKO TANAKA</p>
                  </div>
                  <p class="p-employee__card-item__body__text">ダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                </div>
              </a>
            </li>
            <li class="p-employee__card-item">
              <a href="/employee/employee02/">
                <div class="p-employee__card-item__image">
                  <img src="/assets/img/emplyee_card-item_img02.jpg" alt="">
                </div>
                <span class="p-employee__card-item__position--02">ディレクター</span>
                <div class="p-employee__card-item__body">
                  <p class="p-employee__card-item__body__year">2022年入社</p>
                  <div class="p-employee__card-item__body__name">
                    <p class="p-employee__card-item__body__name__ja">山田 太郎</p>
                    <p class="p-employee__card-item__body__name__en">TARO YAMADA</p>
                  </div>
                  <p class="p-employee__card-item__body__text">ダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
                </div>
              </a>
            </li>
          </ul>
        </section>
       
      </div>
    </section>

    <!--採用情報--> 
    <%- include("../../_components/_recruit", { pageData }) _%>
    <div class="l-main__line u-sp"></div>
    <div class="l-main__line u-sp"></div>
  </main>
<%- include("../../_components/_footer", { pageData }) _%>
<%- include("../../_components/_foot", { rootPath, pageData }) _%>
