<%_
  var rootPath = data.rootPath;
  var pageData = data.pages.home;
_%>
<%- include("./_components/_head", { rootPath, pageData }) _%>
<%- include("./_components/_header", { pageData }) _%>
  <main>
    <!--メインビジュアル-->
    <section class="p-main-visual">
      <div class="c-inner">
        <h1 class="p-main-visual__title-area">
          <div class="p-main-visual__title-area__head">Recruiting site 2024</div>
          <div class="p-main-visual__title-area__copy">
            RECRUIT
            <br>
            COPY.
          </div>
          <div class="p-main-visual__title-area__sub-copy">サブコピーサブコピーサブコピー </div>
        </h1>
      </div>
    </section>

    <!--リード-->
    <section class="p-lead">
      <div class="">
        <div class="p-lead__text-area">
          <div class="p-lead__text-area__heading">差し替え可能テキストです</div>
          <p class="p-lead__text-area__text">
            ダミーテキストダミーテキストダミーテキストダミーテキスト
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテ
            キストダミーテキストダミーテキストダミーテキストダミーテキスト
            ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキ
            ストダミーテキストダミーテキストダミーテキストダミーテキストダ
            ミーテキストダミーテキストダミーテキストダミーテキスト
          </p>
        </div>
      </div>
    </section>

    <!--メッセージ-->
    <section class="p-message c-section">
      <div class="c-inner">
        <div class="p-message__wrapper">
          <div class="p-message__image-content">
              <img src="/assets/img/top-message.jpg" alt="message">
          </div>
          <div class="p-message__text-content">
            <h2 class="c-title--message">
              <p class="c-title__en-title">MESSAGE</p>
              <p class="c-title__ja-title">メッセージ</p>
            </h2>
            <div class="p-message__text-area">
              <div class="p-message__text-area__heading">差し替え可能テキストです</div>
              <p class="p-message__text-area__text">
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
              </p>
              <a href="/message/" class="p-message__button c-button"> VIEW MORE</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--仕事を知る-->
    <section class="p-business c-section">
      <div class="c-inner">
        <div class="p-business__wrapper">
          <div class="p-business__image-content">
              <img src="/assets/img/top-business.jpg" alt="仕事を知る">
          </div>
          <div class="p-business__text-content">
            <h2 class="c-title--business">
              <p class="c-title__en-title">BUSINESS</p>
              <p class="c-title__ja-title">仕事を知る</p>
            </h2>
            <div class="p-business__text-area">
              <div class="p-business__text-area__heading">差し替え可能テキストです</div>
              <p class="p-business__text-area__text">
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
              </p>
              <a href="/business/" class="p-business__button c-button"> VIEW MORE</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--会社概要-->
    <section class="p-company c-section">
      <div class="c-inner">
        <div class="p-company__wrapper">
          <div class="p-company__image-content">
              <img src="/assets/img/top-company.jpg" alt="company">
          </div>
          <div class="p-company__text-content">
            <h2 class="c-title--company">
              <p class="c-title__en-title">COMPANY</p>
              <p class="c-title__ja-title">会社概要</p>
            </h2>
            <div class="p-company__text-area">
              <div class="p-company__text-area__heading">差し替え可能テキストです</div>
              <p class="p-company__text-area__text">
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
              </p>
              <a href="/company/" class="p-company__button c-button"> VIEW MORE</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--数字で見る-->
    <section class="p-infographics c-section">
      <div class="c-inner">
        <div class="p-infographics__wrapper">
          <div class="p-infographics__image-content">
              <img src="/assets/img/top-infographics.jpg" alt="仕事を知る">
          </div>
          <div class="p-infographics__text-content">
            <h2 class="c-title--infographics">
              <p class="c-title__en-title">INFOGRAPHICS</p>
              <p class="c-title__ja-title">仕事を知る</p>
            </h2>
            <div class="p-infographics__text-area">
              <div class="p-infographics__text-area__heading">差し替え可能テキストです</div>
              <p class="p-infographics__text-area__text">
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
              </p>
              <a href="/infographics/" class="p-infographics__button c-button"> VIEW MORE</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--人を知る-->
    <section class="p-employee c-section">
      <div class="c-inner">
        <h2 class="c-title--employee">
          <p class="c-title__en-title">EMPLYEE</p>
          <p class="c-title__ja-title">人を知る</p>
        </h2>
        <ul class="p-employee__card-items">
          <li class="p-employee__card-item">
            <a href="">
              <div class="p-employee__card-item__image">
                <img src="/assets/img/emplyee_card-item_img01.jpg" alt="">
              </div>
              <span class="p-employee__card-item__position--01">総合職</span>
              <div class="p-employee__card-item__body">
                <p class="p-employee__card-item__body__year">2022年入社</p>
                <div class="p-employee__card-item__body__name">
                  <p class="p-employee__card-item__body__name__ja">田中 花子</p>
                  <p class="p-employee__card-item__body__name__en">HANAKO TANAKA</p>
                </div>
                <p class="p-employee__card-item__body__text">ダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
              </div>
            </a>
          </li>
          <li class="p-employee__card-item">
            <a href="">
              <div class="p-employee__card-item__image">
                <img src="/assets/img/emplyee_card-item_img02.jpg" alt="">
              </div>
              <span class="p-employee__card-item__position--02">ディレクター</span>
              <div class="p-employee__card-item__body">
                <p class="p-employee__card-item__body__year">2022年入社</p>
                <div class="p-employee__card-item__body__name">
                  <p class="p-employee__card-item__body__name__ja">山田 太郎</p>
                  <p class="p-employee__card-item__body__name__en">TARO YAMADA</p>
                </div>
                <p class="p-employee__card-item__body__text">ダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
              </div>
            </a>
          </li>
          <li class="p-employee__card-item">
            <a href="">
              <div class="p-employee__card-item__image">
                <img src="/assets/img/emplyee_card-item_img03.jpg" alt="">
              </div>
              <span class="p-employee__card-item__position--03">デザイナー</span>
              <div class="p-employee__card-item__body">
                <p class="p-employee__card-item__body__year">2022年入社</p>
                <div class="p-employee__card-item__body__name">
                  <p class="p-employee__card-item__body__name__ja">加藤 花子</p>
                  <p class="p-employee__card-item__body__name__en">HANAKO KATO</p>
                </div>
                <p class="p-employee__card-item__body__text">ダミーダミーダミーダミーダミーダミーダミーダミーダミー</p>
              </div>
            </a>
          </li>
        </ul>
        <div class="p-employee__button">
          <a href="/employee/" class="c-button"> VIEW MORE</a>
        </div>
        <span class="p-employee__line"></span>
        <span class="p-employee__line"></span>
        <span class="p-employee__line"></span>
      </div>
    </section> 

    <!--環境を知る-->
    <section class="p-culture c-section">
      <div class="c-inner">
        <div class="p-culture__wrapper">
          <div class="p-culture__wrapper__image-content">
            <img src="/assets/img/top-culture.jpg" alt="culture">
          </div>
          <div class="p-culture__wrapper__text-content">
            <h2 class="c-title--culture">
              <p class="c-title__en-title">CULTURE</p>
              <p class="c-title__ja-title">環境を知る</p>
            </h2>
            <p class="p-culture__wrapper__text-content__text">
              差し替え可能テキストです。ダミーテキストダミーテキストダミーテキストダミーテキスト
              ダミーテキストダミーテキストダミーテキストダミーテキスト 
            </p>
            <div class="p-culture__wrapper__buttons">
              <div class="p-culture__wrapper__button">
                <a href="/support/" class="c-button"> 教育研修制度</a>
              </div>
              <div class="p-culture__wrapper__button">
                <a href="/benefit/" class="c-button"> 福利厚生制度</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--採用情報--> 
    <%- include("./_components/_recruit", { pageData }) _%>
  </main>
<%- include("./_components/_footer", { pageData }) _%>
<%- include("./_components/_foot", { rootPath, pageData }) _%>
